@use 'global' as *;

:has(> .email-form) {
  display: grid;
  place-content: center;
}

.email-form {
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 5px 1rem rgba(black, 0.125);
  padding: 2rem;
  margin-inline: 2rem;

  fieldset {
    margin: 0;
    padding: 0;
    border: none;

    legend {
      line-height: 1;
      font-size: 1.5rem;
      font-family: var(--heading-font);
      color: var(--primary-color);
    }

    input[type='email'] {
      appearance: none;
      background-color: var(--gray-80);
      border-radius: 0.25rem;
      border: none;
      color: var(--white);
      margin-block-end: 1rem;
      padding: 0.5rem 1rem;
    }

    button[type='submit'] {
      background-color: var(--primary-color);
      border: none;
      border-radius: 0.25rem;
      color: white;
      display: inline-block;
      padding: 0.5rem 1rem;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-color-light);
        text-decoration: none;
      }
    }

    input[type='email'],
    button[type='submit'] {
      width: 100%;

      @media (min-width: $breakpoint-md) {
        margin-block-end: 0;
        width: auto;
      }
    }
  }
}
