.featured-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 340px));
  gap: 1rem;
  justify-content: center;
  margin-block-end: 4rem;
}
