footer {
  background-color: var(--primary-color);
  background-image: url('/assets/images/circle-logo-transparent.png');
  background-position: calc(100vw - 290px) center;
  background-repeat: no-repeat;
  color: var(--white);

  a {
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  nav {
    ul {
      list-style: none;

      padding: 0;
    }
  }
}
