:root {
  --primary-color: #51081b;
  --primary-color-light: #730220;
  --blue: #3bacf5;
  --yellow: #f4a708;
  --white: #ffffff;
  --black: #000000;

  --gray-10: rgba(0, 0, 0, 0.1);
  --gray-20: rgba(0, 0, 0, 0.2);
  --gray-40: rgba(0, 0, 0, 0.4);

  --font-body: 'Roboto Condensed', sans-serif;
  --font-heading: 'Roboto Slab', serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--font-body);
  font-weight: 400;
}

.site-layout {
  display: grid;
  grid-template-rows: 120px 1fr 220px;
  min-height: 100vh;
}

main {
}

.container {
  margin-inline: auto;
  width: min(1000px, 80vw);
}
