:root {
  --primary-color: #51081b;
  --primary-color-light: #730220;
  --blue: #3bacf5;
  --yellow: #f4a708;
  --white: #ffffff;
  --black: #000000;

  --gray-40: rgba(var(--black), 40);
  --gray-10: rgba(var(--black), 10);

  --font-body: 'Roboto Condensed', sans-serif;
  --font-logo: 'Roboto Slab', serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--font-body);
}

.site-layout {
  display: grid;
  grid-template-rows: 120px 1fr 220px;
  min-height: 100vh;
}

main {
  // overflow-x: hidden;
  // overflow-y: auto;
  // height: 100%;
}

.container {
  margin-inline: auto;
  width: 90vw;
}
