@mixin desktopListStyles {
  display: flex;

  li {
    align-items: center;
    display: flex;
    line-height: 1;
    margin-block-end: 0;
    margin-inline-end: 1rem;

    &:last-of-type {
      margin-inline-end: 0;
    }

    @media (min-width: $breakpoint-lg) {
      margin-inline-end: 1.5rem;
    }

    @media (min-width: $breakpoint-xl) {
      margin-inline-end: 2rem;
    }

    a {
      font-family: var(--font-body);
      font-size: 1.25rem;
    }
  }
}

body > div > header {
  background-color: #121212;
  border-bottom: 10px solid var(--primary-color);
  box-shadow: 0 0 20px rgb(black, 0.4);
  box-sizing: border-box;
  height: 120px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;

  @media (min-width: $breakpoint-lg) {
    padding: 0;
  }

  .container {
    align-items: center;
    height: 100%;
    width: min(1200px, 90vw);
    display: flex;
    justify-content: space-between;

    > * {
      z-index: 2;
    }
  }

  a {
    text-decoration: none;
  }

  &::before,
  &::after {
    font-family: var(--font-heading);
    font-size: 10rem;
    line-height: 1;
    margin: 0;
    color: #1d1d1d;
    position: absolute;
    text-transform: uppercase;
    top: -10px;
    z-index: 1;
    pointer-events: none;
  }

  &::before {
    left: 0;
    content: 'Salt Lake City';
  }

  &::after {
    display: none;
    right: 100px;
    content: '2023';

    @media (min-width: $breakpoint-xl) {
      display: block;
    }
  }

  nav {
    &[aria-label='Main'] {
      box-sizing: border-box;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: black;
      top: 0;
      left: 0;
      padding: 2rem;
      transition: all 0.3s ease-in-out;
      translate: -100vw 0;
      z-index: 100;

      &[data-mobile-nav-open='true'] {
        translate: 0 0;
      }

      @media (min-width: $breakpoint-md) {
        background-color: transparent;
        height: auto;
        padding: 0;
        position: relative;
        translate: 0 0;
        width: auto;
      }
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        line-height: 1;
        margin-block-end: 2rem;

        a {
          color: var(--white);
          font-weight: 700;
          font-family: var(--font-heading);
          font-size: 2rem;
          text-transform: uppercase;

          &:hover {
            color: var(--highlight-color);
          }

          &[aria-current='page'] {
            color: var(--highlight-color);
          }
        }
      }

      @media (min-width: $breakpoint-md) {
        @include desktopListStyles;

        li {
          &:first-of-type {
            display: none;
          }
        }
      }

      @media (min-width: $breakpoint-xl) {
        li {
          a {
            font-size: 1.5rem;
          }
        }
      }
    }

    &[aria-label='Secondary'] {
      ul {
        @include desktopListStyles;
        gap: 0.5rem;

        li {
          margin-inline-end: 0;
          &.email,
          &.hotel {
            display: none;
          }

          @media (min-width: $breakpoint-md) {
            &.email {
              display: block;
            }
          }

          @media (min-width: $breakpoint-lg) {
            &.hotel {
              display: block;
            }
          }
        }

        @media (min-width: $breakpoint-lg) {
          gap: 1rem;
        }
      }
    }
  }
}

@import 'menu-button';
