body > div > header {
  align-items: center;
  background-color: var(--black);
  border-bottom: 10px solid var(--primary-color);
  box-sizing: border-box;

  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
  width: 100vw;

  a {
    text-decoration: none;
  }

  &::before {
    content: 'Salt Lake City';
    font-family: var(--font-heading);
    font-size: 6rem;
    color: #171717;
    position: absolute;
    left: -1rem;
    bottom: -2rem;
    text-transform: uppercase;
    z-index: 1;
    pointer-events: none;
  }

  > * {
    z-index: 2;
  }
}

nav {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      a {
        color: var(--white);
        font-weight: 700;
        font-size: 1.25rem;
        text-transform: uppercase;
      }
    }
  }
}
