.hero-banner {
  align-items: center;
  background-color: rgb(176, 212, 236);
  background-image: url('/assets/images/hero-mobile.webp');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  height: 300px;
  width: 100vw;

  z-index: 1;

  @media (min-width: $breakpoint-md) {
    background-image: url('/assets/images/hero-desktop.webp');
  }

  h1 {
    color: var(--gray-80);
    color: var(--primary-color);
    font-size: clamp(3rem, 10vw, 6rem);
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 0.25rem white;
  }
}
