@use 'global' as *;

.home-grid {
  width: 100dvw;

  @media (min-width: $breakpoint-lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
      'about poster'
      'dates tickets'
      'posts posts'
      'email email';
  }

  @media (min-width: $breakpoint-xl) {
    grid-template-columns: minmax(0, 1fr) repeat(2, minmax(45ch, 640px)) minmax(
        0,
        1fr
      );

    grid-template-areas:
      'gutter-about about poster gutter-poster'
      'dates dates tickets tickets'
      'gutter-posts-left posts posts gutter-posts-right'
      'gutter-email-left email email gutter-email-right';
  }

  .grid-gutter {
    &--about {
      background-color: var(--primary-color);
      grid-area: gutter-about;
    }

    &--poster {
      background-color: var(--primary-color);
      grid-area: gutter-poster;
    }

    &--posts-left {
      background-image: linear-gradient(white, var(--gray-10));
      grid-area: gutter-posts-left;
    }

    &--posts-right {
      background-image: linear-gradient(white, var(--gray-10));
      grid-area: gutter-posts-right;
    }
  }

  .background {
    background-image: url('../assets/images/hero-desktop.webp');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 200%;
    height: 100%;
    position: absolute;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      background-size: 150%;
      text-align: left;
    }

    @media (min-width: $breakpoint-lg) {
      background-size: 126%;
    }

    @media (min-width: $breakpoint-xl) {
      background-size: 100%;
    }
  }

  .section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 400px;
    position: relative;

    &-poster {
      background-color: var(--primary-color);
      grid-area: poster;
      padding-block-start: 2rem;
      position: relative;

      img {
        --shadow-color: var(--highlight-color);
        border: 0.5rem solid white;
        box-shadow: 2px 2px 0px #f4a708, 4px 4px 3px rgba(0, 0, 0, 0.75);
        max-width: 90dvw;
        position: relative;
        width: 400px;

        @media (min-width: $breakpoint-lg) {
          rotate: 1deg;
          width: 420px;
        }
      }

      @media (min-width: $breakpoint-lg) {
        padding-block: 4rem;
      }
    }

    // Video Streaming
    &-video {
      background-color: var(--pink);
      grid-area: video;
      padding: 2rem;

      .section-container.video-container {
        position: relative;
        width: 100%;
        max-width: 800px;
      }

      iframe {
        border: 0;
        box-shadow: 0 1rem 2rem var(--primary-color);
        aspect-ratio: 16 / 9;
        height: auto;
        width: 100%;
      }
    }

    // About
    &-about {
      grid-area: about;
      background-color: var(--primary-color);

      .section-container {
        align-items: center;
        justify-content: center;

        color: white;
        display: flex;
        height: 50%;
        flex-direction: column;
        padding: 0 2rem 1rem 2rem;

        h2,
        h3 {
          color: var(--highlight-color);
          text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.75),
            2px 4px 0px var(--hightlight-color);
          max-width: 640px;
        }

        p {
          margin-block-start: 0;
          max-width: 640px;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);

          &:first-of-type {
            font-size: 1.5rem;
          }
        }
      }
    }

    // DATES
    &-dates {
      grid-area: dates;
      background-color: #b0d4ec;
      position: relative;
      text-align: center;

      @media (min-width: $breakpoint-md) {
        text-align: left;
      }

      @media (min-width: $breakpoint-xl) {
        justify-content: flex-end;

        .section-container {
          margin-inline-end: 12ch;
        }
      }

      h2 {
        font-size: 8rem;
        font-weight: 900;
        color: var(--gray-50);
        margin: 0;
        line-height: 0.825;
        text-shadow: 0 1px 0 white;
        @media (min-width: $breakpoint-md) {
          font-size: clamp(6rem, 12vw, 9rem);
        }
      }

      p {
        margin: 0;
        line-height: 1;

        sup {
          text-transform: uppercase;
          font-size: 0.5em;
        }

        &:first-of-type {
          color: black;
          font-size: clamp(3rem, 10vw, 4rem);
          font-weight: 700;

          span {
            color: var(--primary-color);
          }
        }

        .section-dates-location {
          font-weight: 700;
          color: var(--black);
          font-size: 2rem;
          line-height: 0.825;
          text-shadow: 0 0 4px white;
        }
      }

      .section-container {
        display: flex;
        flex-direction: column;
        padding-inline: 2rem;
        z-index: 2;
      }

      .art-promo {
        h3 {
          color: var(--primary-color);
          margin-block-end: 0;
          text-shadow: 1px 2px 0 white;
        }

        p {
          display: flex;
          flex-wrap: wrap;
          font-size: 1.2rem;
          justify-content: center;
          text-shadow: 1px 1px 0 white;

          span {
            &:first-of-type {
              margin-inline-end: 0.25em;
            }

            @media (min-width: $breakpoint-sm) {
              &::after {
                content: ' - ';
              }
            }
          }

          @media (min-width: $breakpoint-md) {
            justify-content: flex-start;
          }
        }
      }
    }

    // Tickets
    &-tickets {
      grid-area: tickets;
      background-color: var(--gray-20);

      .background {
        background-blend-mode: overlay;
        background-color: var(--gray-20);
        background-image: url('../assets/images/home-about-bg-desktop.webp');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 200%;
        height: 100%;
        position: absolute;
        width: 100%;

        @media (min-width: $breakpoint-md) {
          background-size: 150%;
          text-align: left;
        }

        @media (min-width: $breakpoint-lg) {
          background-size: 126%;
        }

        @media (min-width: $breakpoint-xl) {
          background-size: 100%;
        }
      }

      @media (min-width: $breakpoint-xl) {
        justify-content: flex-start;

        .section-container {
          margin-inline-start: 12ch;
        }
      }

      .section-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 100;
      }

      .ticket-button {
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--white);
        display: flex;
        flex-direction: column;
        font-size: 3.325rem;
        font-style: italic;
        font-weight: 900;
        justify-content: center;
        line-height: 0.725;
        padding-inline-end: 3rem;
        scale: 0.8;
        text-decoration: none;
        // text-shadow: 2px 2px 0px var(--white);
        text-transform: uppercase;
        transition: all 0.3s;

        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100%25' height='100%25' viewBox='0 0 350 140' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3e%3cpath d='M293.713,140L0,140L0,87.652C9.896,87.652 17.918,79.477 17.918,69.391C17.918,59.306 9.896,51.131 0,51.13L0,0L350,0L350,51.13C340.104,51.13 332.082,59.306 332.082,69.391C332.082,79.477 340.104,87.652 350,87.652L350,140L300.965,140L300.965,133L293.713,133L293.713,140ZM300.965,105L300.965,119L293.713,119L293.713,105L300.965,105ZM300.965,77L300.965,91L293.713,91L293.713,77L300.965,77ZM300.965,49L300.965,63L293.713,63L293.713,49L300.965,49ZM300.965,21L300.965,35L293.713,35L293.713,21L300.965,21ZM300.965,0L300.965,7L293.713,7L293.713,0L300.965,0Z' style='fill:%23000;'/%3e%3c/svg%3e ");
        width: 350px;
        height: 140px;

        em {
          font-size: 4rem;
        }

        @media (min-width: $breakpoint-sm) {
          scale: 1;

          &:hover {
            scale: 1.04;
          }
        }

        // &:hover {
        //   color: var(--highlight-color);
        // }
      }

      p {
        margin: 0.5rem 0 0 0;
        line-height: 1;
        color: white;

        // text-shadow: 2px 2px 0 var(--hightlight-color);
        text-shadow: 1px 1px 2px var(--primary-color), 0 0 0.5em black,
          0 0 0.2em blue;
      }
    }

    // News
    &-posts {
      grid-area: posts;
      background-image: linear-gradient(white, var(--gray-10));
      padding-block: 1rem;
    }

    // Email signup
    &-email {
      grid-area: email;
    }
  }
}
