@use 'global' as *;

// logo / logo type
a[title='Home'] {
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
  font-weight: 900;
  color: var(--highlight-color);
  text-transform: uppercase;
  position: relative;

  span {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    line-height: 0.9;
    margin-inline-end: 0.25rem;

    font-size: 1.05rem;
    scale: 0.9;
    transition: all 0.3s;

    strong {
      color: white;
      font-size: 2.0625rem;
    }

    em {
      font-style: normal;
      font-size: 0.875rem;
      align-self: flex-end;
    }

    @media (min-width: $breakpoint-lg) {
      margin-inline-end: 1rem;
      scale: 1;
    }
  }

  img[alt='Salt Lake City Tattoo Expo'] {
    height: 82px;
    width: 82px;
    transition: all 0.3s;

    @media (min-width: $breakpoint-md) {
      height: 62px;
      width: 62px;
    }

    @media (min-width: $breakpoint-lg) {
      height: 92px;
      width: 92px;
    }
  }

  &:hover {
    img {
      rotate: 2deg;
    }

    > span {
      scale: 1.05;
    }
  }

  &:active {
    img {
      rotate: -2deg;
    }

    > span {
      scale: 0.9;
    }
  }
}

.site-header[data-scrolled='true'] {
  a[title='Home'] {
    span {
      margin-inline-end: 0.125rem;
      scale: 0.8;
    }
  }

  img[alt='Salt Lake City Tattoo Expo'] {
    height: 48px;
    width: 48px;
  }
}
