button[data-toggle='main-nav'] {
  align-items: center;
  appearance: none;
  background-color: var(--gray-80);
  border-radius: 50%;
  border: none;
  bottom: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: space-around;
  left: 2rem;
  position: fixed;
  transform: scale(1);
  transition: all 0.4s ease;
  width: 3rem;
  z-index: 1000;

  span,
  &::before,
  &::after {
    transition: all 0.4s ease;
    display: block;
    background-color: rgba(white, 0.75);
    height: 3px;
    width: 1.5rem;
  }

  span {
    text-indent: -100%;
    overflow: hidden;
  }

  &::before {
    content: '';
    margin-top: 0.625rem;
    transform-origin: center;
  }

  &::after {
    content: '';
    margin-bottom: 0.5rem;
  }

  &:hover {
    background-color: rgba(black, 0.75);

    span,
    &::before,
    &::after {
      background-color: white;
    }
  }

  &:active {
    background-color: black;
    transform: scale(1.125);
  }

  &[data-mobile-nav-open='true'] {
    background-color: var(--primary-color);

    span {
      rotate: 45deg;
      top: -13px;
      position: relative;
    }

    &::before {
      rotate: -45deg;
      top: 5px;
      position: relative;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
