.page-article {
  > .container {
    padding-block: 2rem;
    margin-inline: auto;
    width: min(1000px, 86vw);
  }
}

.artists-article {
  > .container {
    padding-block: 2rem;
    margin-inline: auto;
    width: min(1440px, 99vw);
  }
}
