.page-article {
  .container {
    margin-inline: auto;
    width: min(1100px, 86vw);
  }
}

.artists-article {
  .container {
    padding-block: 1rem;
    margin-inline: auto;
    width: min(1440px, 99vw);
  }
}
