.meta {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--heading-font);
  padding: 0 0.5rem;
  text-align: end;
}

.post-list {
  padding: 0;
  list-style: none;

  &-page {
    li {
      margin-block-end: 2rem;
    }
  }
}

.post-list-home {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 340px));
  width: 100%;
}

.post {
  border-top: 0.25rem solid var(--primary-color);
  box-shadow: 0 2px 1rem rgba(black, 0.125);
  height: 100%;
  position: relative;

  &__title {
    margin: 0;
    line-height: 1.5;
    padding: 0 1rem;
    background-color: var(--primary-color);

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__description {
    margin-block: 1rem;
    padding: 0 4rem 0 1rem;
  }

  &__date {
    color: var(--gray-80);
    text-align: end;
    margin: 0;
    padding: 0 1rem;
    background-color: var(--gray-20);
  }

  &__link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
