.meta {
  color: white;
  padding: 0 0.5rem;
  background-color: var(--primary-color);
  border-top-right-radius: 0.25rem;
  font-family: var(--heading-font);
  text-align: end;
}

.post-list {
  padding: 0;
  list-style: none;
}

.post-list-home {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 340px));
  gap: 1rem;
}

.post {
  border-bottom: 0.25rem solid var(--primary-color);
  box-shadow: 0 2px 1rem rgba(black, 0.125);
  padding: 1rem;
  position: relative;

  &__title {
    margin: 0;
    margin-bottom: 1rem;

    a:hover {
      text-decoration: none;
    }
  }

  &__description {
    margin: 0;
  }

  &__date {
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    background-color: var(--primary-color);
    font-family: var(--heading-font);

    bottom: -2rem;
    right: 0;
  }
}
