h1,
h2,
h3 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  // font-size: 1.125rem; // 18px
  font-size: clamp(1rem, 1rem, 1.125rem); // 18px
}
