---
layout: layouts/base.njk
---

<article>
  <header>
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </header>

  <div class="container">
    {{ content | safe }}
  </div>
</article>
