---
layout: layouts/base.njk
---

<article class="page-article">
  <header class="hero-banner">
    <div class="container">
      <h1>News</h1>
    </div>
  </header>

  <div class="container">
    {{ content | safe }}
  </div>
</article>
