---
title: 2023 Artists
layout: 'layouts/artists.njk'
pagination:
  data: collections.artists
  size: 24
  alias: artists
---
<h2 style="text-align: center">2024 Artists Coming Soon</h2>

{% if pagination.pageLinks.length > 1 %}
<div
  class="container"
  style="display: flex; align-items: center; justify-content: space-between"
>
  <h4>
    Page: {{ pagination.pageNumber + 1 }} of
    {{ pagination.pageLinks.length }}
  </h4>

  <nav class="pagination">
    {% if pagination.previousPageLink %}
    <a class="pagination__item" href="{{ pagination.previousPageHref }}"
      >Previous</a
    >
    {% else %}
    <span class="pagination__item">Previous</span>
    {% endif %} {% if pagination.nextPageLink %}
    <a class="pagination__item" href="{{ pagination.nextPageHref }}">Next</a>
    {% else %}
    <span class="pagination__item">Next</span>
    {% endif %}
  </nav>
</div>
{% endif %}

<ul class="artists-list">
  {%- for artist in artists | sort -%} {% include 'partials/artist.njk' %} {%- endfor
  -%}
</ul>

{% if pagination.pageLinks.length > 1 %}
<div
  class="container"
  style="display: flex; align-items: center; justify-content: space-between"
>
  <h4>
    Page: {{ pagination.pageNumber + 1 }} of
    {{ pagination.pageLinks.length }}
  </h4>

  <nav class="pagination">
    {% if pagination.previousPageLink %}
    <a class="pagination__item" href="{{ pagination.previousPageHref }}"
      >Previous</a
    >
    {% else %}
    <span class="pagination__item">Previous</span>
    {% endif %} {% if pagination.nextPageLink %}
    <a class="pagination__item" href="{{ pagination.nextPageHref }}">Next</a>
    {% else %}
    <span class="pagination__item">Next</span>
    {% endif %}
  </nav>
</div>
{% endif %}