---
title: 2025 Artists Coming Soon
layout: 'layouts/artists.njk'
pagination:
  data: collections.artists
  size: 24
  alias: artists
---



  <h2>2024 Special Guests</h2>
  <ul class="featured-list">
  {%- for artist in collections.featured | sort -%} {% include 'partials/featured.njk' %} {%- endfor
  -%}
  </ul>

