---
layout: 'layouts/base.njk'
title: Salt Lake City Tattoo Expo
---

<article>
  <!-- <header class="hero-banner">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </header> -->

  <div class="container home-grid">
    <section class="section section-dates">
      <div class="background"></div>
      <div class="section-container">
        <h2>2023</h2>
        <p>
          March
          <span
            >{{ slctattoo.dates[0].date }}<sup>th</sup>-{{
              slctattoo.dates[slctattoo.dates.length - 1].date
            }}<sup>th</sup></span
          >
        </p>
        <p>Salt Palace Convention Center</p>
      </div>
    </section>

    <section class="section section-tickets">
      <div class="section-container">
        <a
          href="{{ slctattoo.ticketLink }}"
          class="ticket-button"
          title="24tix.com"
          >Get Your <em>Tickets</em></a
        >

        <p class="text-center">
          $25 per day or $50 for the weekend<br />
          Tickets can be purchased online in advance.<br />
          Cash only at the door.
        </p>
      </div>
    </section>

    <section class="section section-about">
      <div class="section-container">
        <p>
          The Salt Lake City Tattoo Expo is THE premier tattoo expo in the
          western US, as well as one of the most prestigious in the country;
          hosting over 150 of the most talented tattoo shops from around the
          globe as well as artists and vendors.
        </p>
        <p>
          All styles of tattooing will be featured. Whether it be American
          Traditional, Black and Gray, Fine Line, Realism, or Japanese, we will
          be showcasing a lineup of the best tattoo artists from Utah, the US
          and around the world in a safe, clean, and family friendly
          environment.
        </p>
      </div>
    </section>

    <section class="section section-posts">
      <ul class="post-list post-list-home">
        {%- for post in collections.posts -%} {% include 'partials/post.njk' %}
        {%- endfor -%}
      </ul>
    </section>

    <section class="section section-email">
      {% include "partials/email-form.njk" %}
    </section>
  </div>
</article>
