---
layout: 'layouts/base.njk'
title: Salt Lake City Tattoo Expo
---

<article>
  <div class="container home-grid">
    <b class="grid-gutter grid-gutter--poster"></b>
    <section class="section section-poster">
      <div class="section-container">
        <img src="./assets/images/2026-poster.webp" alt="Salt Lake City Tattoo Expo Poster" loading="lazy" />
      </div>
    </section>
    
    <section class="section section-about">
      <div class="section-container">
        <h2>The premier tattoo expo in the western US</h3>
        <p>
          The three day event is known as one of the most
          prestigious in the country; hosting over 150 of the most talented
          tattoo studios and featuring <b>over 500 tattoo artists</b> from around the
          globe.
        </p>

        <p>
          All styles of tattooing will be available. Whether it be American
          Traditional, Black and Gray, Fine Line, Realism, or Japanese, we will
          be showcasing a lineup of the best tattoo artists the US and around
          the world in a safe, clean, and family friendly environment.
        </p>
      </div>
    </section>
    <b class="grid-gutter grid-gutter--about"></b>

    <section class="section section-dates">
      <div class="background"></div>
      <div class="section-container">
        <h2>{{ slctattoo.year }}</h2>
        <p>
          March
          <span
            >{{ slctattoo.dates[0].date }}<sup>th</sup>-{{
              slctattoo.dates[slctattoo.dates.length - 1].date
            }}<sup>th</sup></span
          >
        </p>
        <p class="section-dates-location">Salt Palace Convention Center</p>
      </div>
    </section>

    <section class="section section-tickets">
      <div class="background"></div>
      <div class="section-container">
        <a
          href="{{ slctattoo.ticketLink }}"
          class="ticket-button"
          title="24tix.com"
          >Get Your <em>Tickets</em></a
        >

        <p class="text-center">
          $25 per day or $50 for the weekend<br />
          Tickets can be purchased online in advance.<br />
          Cash only at the door.
        </p>
      </div>
    </section>

    <b class="grid-gutter grid-gutter--posts-left"></b>
    <section class="section section-posts">
      <ul class="post-list post-list-home">
        {%- for post in collections.posts | reverse -%} {% include 'partials/post.njk' %}
        {%- endfor -%}
      </ul>
    </section>
    <b class="grid-gutter grid-gutter--posts-right"></b>

    <b class="grid-gutter grid-gutter--email-left"></b>
    <section class="section section-email">
      {% include "partials/email-form.njk" %}
    </section>
    <b class="grid-gutter grid-gutter--email-right"></b>
  </div>
</article>
