---
layout: 'layouts/base.njk'
title: Salt Lake City Tattoo Expo
---

<article>
  <div class="container">
    <h1>{{ title }}</h1>

    <section>
      DATES & TIMES Friday March 10th 3pm - 11pm Saturday March 11th 12pm - 11pm
      Sunday March 12th 12pm - 8pm
    </section>

    <section>
      TICKETS $30 day or $70 for the weekend Tickets can be purchased online in
      advance. Cash only at the door.
    </section>

    <section>
      <p>
        The Salt Lake City International Tattoo Expo is THE premier tattoo expo
        in the western US as well as one of the most prestigious in the country.
        Hosting over 150 of the most talented tattoo artists from around the
        globe as well as artists and vendors. All styles of tattooing will be
        featured. Whether it be American Traditional, Black and Gray, Fine Line,
        Realism, Japanese, we will be showcasing a lineup of the best tattoo
        artists from Utah, the US and around the world in a safe, clean and
        family friendly environment.
      </p>
    </section>
  </div>
</article>
