<li>
  <article class="artist">
    <img src="{{ artist.data.image }}" alt="" class="artist__image" />
    <h3 class="artist__title">{{ artist.data.name }}</h3>
    <a class="artist__insta" href="{{ artist.data.instagram }}" target="_blank"
      >Instagram</a
    >
  </article>
</li>
