<form
  class="email-form"
  name="subscribe"
  method="POST"
  netlify-honeypot="bot-field"
  data-netlify="true"
>
  <fieldset>
    <legend>Subscribe to get updates</legend>
    <input
      type="hidden"
      name="subject"
      value="Subscribe to email list slctattooexpo.com"
    />
    <p class="hidden">
      <label>
        Don't fill this out if you're human: <input name="bot-field" />
      </label>
    </p>
    <p>
      <label
        >Your email:
        <input type="email" name="email" placeholder="email@address.com"
      /></label>
      <button type="submit">Subscribe</button>
    </p>
  </fieldset>
</form>
