<form action="" class="email-form">
  <fieldset>
    <legend>Get expo news in your inbox!</legend>
    <label for="email">Email:</label>
    <input id="email" placeholder="Your email" type="email" />
    <button type="submit">Submit</button>
  </fieldset>
</form>
