<footer class="site-footer">
  <div class="container nav-container">
    <p>
      Salt Palace Convention Center - Hall 5 (West Side) 2023 Get your Ticket
      @24tix.com
    </p>

    {% include "../partials/dates.njk" %} {% include "../partials/main-nav.njk"
    %} {% include "../partials/secondary-nav.njk" %}
  </div>
  <p class="text-center">@copyright {% currentYear %} slctattooexpo.com</p>
</footer>
