<header>
  <div class="container">
    <a href="/" title="Home">
      <img
        src="/assets/images/header-logo.png"
        alt="Salt Lake City Tattoo Expo"
      />
    </a>
    {% include "./main-nav.njk" %} {% include "./secondary-nav.njk" %}
  </div>

  <button type="button" data-toggle="main-nav">
    <span>Menu</span>
  </button>
</header>
