<section class='section section-video'>
  <div class='section-container video-container'>
    <iframe
      src='https://www.youtube.com/embed/1J2F1Y2J2ZM'
      title='YouTube video player'
      allowfullscreen
    ></iframe>
  </div>
</section>