<nav aria-label="Main" data-mobile-nav-open="false">
  <ul>
    <li>
      <a href="/" {% if page.url == '/' %} aria-current="page"{% endif %}>Home</a>
    </li>
    <li>
      <a href="/artists" {% if page.url == '/artists' %} aria-current="page"{% endif %}>Artists</a>
    </li>
    <li>
      <a href="/vendors" {% if page.url == '/vendors' %} aria-current="page"{% endif %}>Vendors</a>
    </li>
    <li>
      <a href="/what-to-expect" {% if page.url == post.url %} aria-current="page"{% endif %}>About</a>
    </li>
    <li>
      <a href="/hotel" {% if page.url == post.url %} aria-current="page"{% endif %}>Hotel</a>
    </li>
    <li>
      <a href="/news" {% if page.url == post.url %} aria-current="page"{% endif %}>News</a>
    </li>
  </ul>
</nav>
