<nav aria-label="Secondary">
  <ul>
    <li>
      <a href="#" class="icon-link ticket" title="get Tickets"
        >Tickets 24tix.com</a
      >
    </li>
    <li><a href="#" class="icon-link email" title="Email">Email Signup</a></li>
    <li>
      <a
        href="https://instagram.com/slctattooexpo"
        class="icon-link instagram"
        title="Instagram"
        target="_blank"
        >Instagram</a
      >
    </li>
  </ul>
</nav>
