<nav aria-label="Secondary">
  <ul>
    <li class="ticket">
      <a
        href="{{ slctattoo.ticketLink }}"
        class="icon-link ticket"
        title="Get Tickets"
        >Tickets @24tix.com</a
      >
    </li>
    <li class="hotel">
      <a
        href="https://www.radissonhotelsamericas.com/en-us/booking/room-display?checkInDate=2023-03-13&checkOutDate=2023-03-22&adults%5B%5D=1&children%5B%5D=0&searchType=pac&promotionCode=ATTEN&brandFirst=rad&hotelCode=UTSALTLK"
        class="icon-link hotel"
        title="Book your hotel room"
        >Radisson Hotel</a
      >
    </li>
    <!-- <li class="email">
      <a href="#" class="icon-link email" title="Email">Email Signup</a>
    </li> -->
    <li class="instagram">
      <a
        href="https://instagram.com/slctattooexpo"
        class="icon-link instagram"
        title="Instagram"
        target="_blank"
        >Instagram</a
      >
    </li>
  </ul>
</nav>
