<nav aria-label="Secondary">
  <ul>
    <li class="ticket">
      <a
        href="{{ slctattoo.ticketLink }}"
        class="icon-link ticket"
        title="Get Tickets"
        >Tickets @24tix.com</a
      >
    </li>
    <li class="hotel">
      <a
        href="{{ slctattoo.hotelLink }}"
        class="icon-link hotel"
        title="Book your hotel room"
        >Radisson Hotel</a
      >
    </li>
    <!-- <li class="email">
        <a href="#" class="icon-link email" title="Email">Email Signup</a>
      </li> -->
    <li class="facebook">
      <a
        href="{{ slctattoo.facebookLink }}"
        class="icon-link facebook"
        title="Faceboook"
        target="_blank"
        >Faceboook</a
      >
    </li>
    <li class="instagram">
      <a
        href="{{ slctattoo.instagramLink }}"
        class="icon-link instagram"
        title="Instagram"
        target="_blank"
        >Instagram</a
      >
    </li>
  </ul>
</nav>
